<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>AF KLM Travel - Fare Calculator</title>

	<link rel="stylesheet" type="text/css" href="styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	  <!-- Angular Material requires Angular.js Libraries -->
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	
	  <!-- Angular Material Library -->
	  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	  
	  <!-- Your application bootstrap  -->
	  <script src="app.js"></script>
	  <script src="front_end_services.js"></script>
	  
	  
		
	
</head>
<body ng-app="travelApp" ng-cloak>
  <!--
    Your HTML content here
  -->  	       
	
    <!-- Header -->
    <header>
        <div>
            <div class="intro-text">      
                <p class="md-display-2">Fare Calculator</p>				
				<p class="md-title">Please enter origin and destination</p>	 
				<div ng-controller="travelCtrl as ctrl" layout="column" ng-cloak>
				  <md-content class="md-padding">
				    <form ng-submit="$event.preventDefault()" name="searchForm">				      
				      <div layout-gt-sm="row">				        
				        <md-autocomplete flex required
				            md-input-name="autocompleteField1"
				            md-input-minlength="2"
				            md-input-maxlength="18"
				            md-no-cache="ctrl.noCache"
				            md-selected-item="ctrl.selectedItem"
				            md-search-text="ctrl.searchText"
				            md-items="item in ctrl.querySearch(ctrl.searchText)"
				            md-item-text="item.display"
				            md-require-match
				            md-floating-label="Origin">
				          <md-item-template>
				            <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
				          </md-item-template>
				          <div ng-messages="searchForm.autocompleteField1.$error" ng-if="searchForm.autocompleteField1.$touched">
				            <div ng-message="required">You <b>must</b> enter an airport.</div>
				            <div ng-message="md-require-match">Please select an existing airport.</div>
				            <div ng-message="minlength">Your entry is not long enough.</div>
				            <div ng-message="maxlength">Your entry is too long.</div>
				          </div>
				        </md-autocomplete>				       
				      </div>
				    </form>
				  </md-content>
				</div>
				
				<div ng-controller="travelCtrl as ctrl2" layout="column" ng-cloak>
				  <md-content class="md-padding">
				    <form ng-submit="$event.preventDefault()" name="searchForm2">				      
				      <div layout-gt-sm="row">				        
				        <md-autocomplete flex required
				            md-input-name="autocompleteField2"
				            md-input-minlength="2"
				            md-input-maxlength="18"
				            md-no-cache="ctrl2.noCache"
				            md-selected-item="ctrl2.selectedItem2"
				            md-search-text="ctrl2.searchText2"
				            md-items="item2 in ctrl2.querySearch(ctrl2.searchText2)"
				            md-item-text="item2.display"
				            md-require-match
				            md-floating-label="Destination">
				          <md-item-template>
				            <span md-highlight-text="ctrl2.searchText2">{{item2.display}}</span>
				          </md-item-template>
				          <div ng-messages="searchForm2.autocompleteField2.$error" ng-if="searchForm2.autocompleteField2.$touched">
				            <div ng-message="required">You <b>must</b> enter an airport.</div>
				            <div ng-message="md-require-match">Please select an existing airport.</div>
				            <div ng-message="minlength">Your entry is not long enough.</div>
				            <div ng-message="maxlength">Your entry is too long.</div>
				          </div>
				        </md-autocomplete>				       
				      </div>
				    </form>
				  </md-content>
				</div>
				<div><md-button class="md-accent md-raised">Fare Calculator</md-button></div>	 			  				
			</div>
        </div>
    </header>
	
     <!-- Closing the #page section --> 
  
</body>
</html>